<div class="student-show-container">
  <div class="student-show-studentbox">
    <h1>
      <%= @student.first_last_name %> from class <%= @klass.name %>
    </h1>
  </div>

  <div class="student-show averages">
    <div class="rubric-title"><strong>Student Stats</strong></div>
    <div>Overall Grade </div>
    <div><strong>blah</strong></div>
    <div>Top LT </div>
    <div><strong>blah</strong></div>
    <div>Bottom LT </div>
    <div><strong>blah</strong></div>
    <div>What else? </div>
    <div><strong>blah</strong></div>
  </div>

  <div class="student-show-lt-gradebook">

  </div>


</div>
