<h1><%= @lt.name %> for class <%= link_to(@klass.name, klass_path(@klass)) %></h1>


<div class="lt-show-container">
  <div class="lt-show-gradebook">
    <%= render partial: "klasses/table", locals: {klass: @klass, collection: [@lt], klass_or_lt: @lt} %>
  </div>

  <div class="lt-show-rubric">
    <%= render partial: "learning_targets/rubric", locals: {klass: @klass, lt: @lt} %>
  </div>
</div>
