<div class="open-book profile-page">
  <div class="open-book-title">
    <h1><%= current_user.name %>'s Settings</h1>
  </div>

  <div class="profile-pic">
    <%= image_tag('silhouette.png') %>
  </div>

</div>
