.student-list-container {
  display: grid;
  grid-template-columns: 400px 400px
}

table.gradebook {
  border-collapse: collapse;
}

table.gradebook, table.gradebook th, table.gradebook td {
  border: 1px solid black;
}

table.gradebook th, table.gradebook td {
  text-align: center;
  height: 30px;
  width: 100px;
}

table.gradebook th {
  background-color: grey;
  color: white;
}

table.gradebook .assignment-header {
  display: grid;
  grid-template-rows: 60px 20px;
}

table.gradebook .assignment-header div {
  flex: 1;
}

table.gradebook .date {
  color: white;
  width: 100%;
  background-color: black;
}

table.gradebook .average {
  background-color: grey;
  width: 20px;

}
