.big-button input[type=submit] {
  width: 150px;
  background-color: grey;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.big-button input[type=submit]:hover {
  background-color: black;
  color: white;
}

.little-button input[type=submit] {
  width: auto;
  background-color: rgb(124, 166, 147);
  color: white;
  padding: 2px 4px;
  margin-left: 5px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}


a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: green;
}

.student-list-container {
  display: grid;
  grid-template-columns: 400px 400px
}



/* gradebook styling */

.gradebook-wrapper {
  overflow-y: scroll;
  width: 100%;
}

table.gradebook {
  border-collapse: collapse;
}

table.gradebook, table.gradebook th, table.gradebook td {
  border: 1px solid black;
}

table.gradebook th, table.gradebook td {
  text-align: center;
  height: 30px;
  min-width: 100px;
  max-width: 100px;
}

table.gradebook th {
  background-color: grey;
  color: white;
}

table.gradebook .assignment-header {
  display: grid;
  grid-template-rows: 60px 20px;
}

table.gradebook .assignment-header div {
  flex: 1;
}

table.gradebook .date {
  color: white;
  width: 100%;
  background-color: black;
}

table.gradebook .average {
  background-color: grey;
  width: 20px;
}

table.gradebook .assignments {
  background-color: #D3D3D3;
}


/*LT-form page*/

.lt-form-container {
  text-align: center;
}

.lt-form-container div {
  width: 70%;
  align-self: center;
}

.lt-form-container .standard-selection {
  padding: 30px;
}


/* LT-show page */

.lt-show-container {
  display: grid;
  grid-template-columns: 4fr 3fr;
  padding: 20px;
}

.lt-show-container .lt-show-gradebook {
  grid-column: span 1;
  overflow-x: scroll;
}

.lt-show-container .lt-show-rubric, .lt-form-rubric {
  grid-column: span 1;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: auto repeat(4, 100px);
  padding: 0 10px;
  align-self: start;
}

.lt-form-rubric {
  width: 40%;
}

.rubric-title {
  grid-column: span 2;
  background-color: #D3D3D3;
  text-align: center;
  margin-top: 10px;
  border-radius: 5px;
  margin: 10px auto;
  padding: 10px;
}

.rubric-title input[type=text] {
  width: 80%;
  margin: 0 20px;
  height: 30px;
  font-size: 10px;
  text-align: center;
}

.rubric-score {
  text-align: center;
  background-color: grey;
  align-content: center;
  margin: 15px;
  border-radius: 10px;
  width: 70px;
}

.rubric-score-desc {
  align-self: center;
  margin: 15px 0;
  padding: 0 10px;
}

.rubric-score-desc textarea {
  width: 100%;
  height: 50px;
}
