.new-student-form {
  margin-bottom: 0;
}

.file-upload {
  margin-left: 50px;
}

.file-upload input[type=file] {
  background-color: blue;
}

.signup-container {
  display: flex;
  flex-wrap: wrap;
}

.signup-container div {
  width: 400px;
}

.signup-container .promos {
  width: 500px;
  margin: 0 auto;
  text-align: center;
}

.signup-container .promos div {
  width: 100%;
  margin: 0 auto;
}




a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: rgb(128, 128, 128);
}


.mygradebook{
  margin-left: 10px;
}


.open-book {
  align-items: center;
  padding: 1px;
  width: 420px;
  height: 550px;
  margin: 40px auto;
  background-image: url('open-gradebook2.png');
  background-size: contain;
  background-repeat: no-repeat;
}

.open-book-title {
  margin: 50px auto 40px auto;
  text-align: center;
  background-color: rgb(217, 106, 94);
  color: white;
  width: 300px;
}

.open-book-table {
  margin-left: 60px;
  font-size: 20px;
  height: 300px;
  overflow-y: scroll;
}

.open-book-table td, .open-book-table th {
  height: 40px;
}

.open-book-table tr td:nth-child(1), .open-book-table tr th:nth-child(1) {
  width: 70px;
  text-align: left;
}

.open-book-table tr td:nth-child(2), .open-book-table tr th:nth-child(2) {
  width: 180px;
  text-align: left;
}

.open-book-links {
  margin-left: 60px;
  font-size: 20px;
}

.profile-page h1 {
  background-color: rgb(85, 170, 104);
}

.profile-pic {
  margin-left: 60px;
}

.profile-pic img {
  width: 100px;
  height: 120px;
  object-fit: cover;
  margin-left: 100px;
  border-radius: 5px;
}

.profile-pic .change-pic {
  margin-top: 10px;
  display: flex;
}

.profile-delete {
  margin-top: 50px;
  margin-left: 50px;
}


.book-form {
  padding: 1px;
  width: 420px;
  height: 550px;
  margin: 40px auto;
  background-image: url('gradebook3.png');
  background-size: contain;
  background-repeat: no-repeat;
}

.book-form input[type=text].text-field, .book-form input[type=password].text-field {
  width: 250px;
  border-radius: 10px;
  padding: 5px;
  padding-left: 10px;
  margin-left: 20px;
  font-family: "Roboto", helvetica, arial, sans-serif;
  font-size: 14px;
}

.book-form .fancy-button {
  margin-top: 30px;
  margin-left: 70px;
}

.book-form .fancy-button input[type=submit] {
  width: 150px;
}

.book-form .book-form-title {
  border: 1px black solid;
  width: 60%;
  margin: 60px 50px 20px 90px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px;
  border-radius: 10px;
  /* background-color: white; */
  background-image: url(""),
	  linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
}

.book-form-title h1 {
  display: inline;
  margin: 0 auto;
}

.book-form-login {
  margin-left: 70px;
}


.paper-form {
  background-image: url('lined-paper-flat.png');
  background-size: cover;
  background-repeat: no-repeat;
  padding: 40px;
  padding-left: 70px;
  width: 340px;
  height: auto;
  margin: 50px auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.paper-form.assignment {
  width: 500px;
  padding-left: 90px;
  padding-top: 70px;
}

#paper-lt {
  border-radius: 0px;
  padding: 25px;
  margin-bottom: 20px;
}

.paper-form.assignment .assignment-form-table {
  background-color: white;
  border: 1px black solid;
  padding: 20px;
  border-radius: 10px;
  column-count: 2;
}

.paper-form.paper-form-students {
  width: 800px;
  padding-left: 120px;
}

.paper-form.lt-paper-form {
  width: auto;
}

.paper-form h1 {
  margin-top: -20px;
  text-align: center;
}

.paper-form.lt-paper-form h1 {
  margin-top: 20px;
  margin-bottom: 60px;
  text-align: center;
}

.listed-students {
    overflow-y: scroll;
    padding: 5px;
    width: 350px;
    text-align: left;
    max-height: 300px;
    background: white;
    border: 1px black solid;
}


input[type=text], textarea, input[type=date], input[type=select] {
  font-family: "Roboto", helvetica, arial, sans-serif;
  font-size: 14px;
}

body {
  margin: 0;
  font-family: "Roboto", helvetica, arial, sans-serif;
  display: grid;
  grid-template-rows: 50px auto;
}

header, footer {
  font-size: 14px;
  font-family: "Roboto", helvetica, arial, sans-serif;
  font-weight: 400;
  color: #444;
  line-height: 1.3;
  padding: .6em 1.4em .5em .8em;
  width: 120%;
  max-width: 100%;
  height: 100%;
  box-sizing: border-box;
  margin: 0;
  border: 1px solid #aaa;
  box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
  /* border-radius: .5em; */
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  background-image: url(''), linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
  background-repeat: no-repeat, repeat;
  background-position: right .7em top 50%, 0 0;
  background-size: .65em auto, 100%;
}

header{
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

header div {
  font-size: 18px;
  margin-left: 10px;
}


.header-logo img {
  width: 40px;
}

.header-profile {

}

.header-profile img {
  width: 32px;
  height: 40px;
  object-fit: cover;
  border-radius: 5px;


}

.header-logout {
  margin-left: auto;
  margin-right: 10px;
}

.header-login {
  margin-left: auto;
}


.select-blend {
  border: none;
  width: 20vw;
  font-size: 18px;
  font-family: "Roboto", helvetica, arial, sans-serif;
  font-weight: 400;
  background-color: inherit;
  -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
  outline:0px;
}

.select-blend:hover {
  cursor: pointer;
  color: grey;
}


select.select-blend { width: 20vw; text-align-last:center; }

class-header .select-blend {
  width: 22vw;
}



main {
  padding: 0 20px 20px 20px;
  overflow-y: scroll;
  /* background-image: url('background.png');
  background-size: contain;
  background-repeat: no-repeat; */
}

footer {
  background-color: purple;
}


.text-field-grade
{
  width: 30px;
  text-align: center;
  height: 25px;
}


.little-button input[type=submit], input[type=submit].little-button  {
  width: auto;
  background-color: grey;
  color: white;
  padding: 2px 4px;
  margin-left: 5px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}


.assignment-buttons {
  font-size: 14px;
	font-family: "Roboto", helvetica, arial, sans-serif;
	font-weight: 400;
	color: #444;
	line-height: 1.3;
	padding: .6em 1.4em .5em .8em;
	width: 300px;
	max-width: 100%;
	box-sizing: border-box;
	margin: 0;
	border: 1px solid #aaa;
	box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
	border-radius: .5em;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	background-color: linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
	background-position: right .7em top 50%, 0 0;
	background-size: .65em auto, 100%;
}


.fancy-button input[type=submit], input[type=submit].fancy-button  {
  font-size: 14px;
	font-family: "Roboto", helvetica, arial, sans-serif;
	font-weight: 400;
	color: #444;
	line-height: 1.3;
	padding: .6em 1.4em .5em .8em;
	width: 40px;
	max-width: 100%;
	box-sizing: border-box;
	margin: 0;
	border: 1px solid #aaa;
	box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
	border-radius: .5em;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
  background-image: url(""),
	  linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
	background-repeat: no-repeat, repeat;
	background-position: right .7em top 50%, 0 0;
	background-size: .65em auto, 100%;
}


/* got this next part off https://www.filamentgroup.com/lab/select-css.html */
.select-css {
	font-size: 14px;
	font-family: "Roboto", helvetica, arial, sans-serif;
	font-weight: 400;
	color: #444;
	line-height: 1.3;
	padding: .6em 1.4em .5em .8em;
	width: 300px;
	max-width: 100%;
	box-sizing: border-box;
	margin: 0;
	border: 1px solid #aaa;
	box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
	border-radius: .5em;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	background-color: #fff;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
	  linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
	background-repeat: no-repeat, repeat;
	background-position: right .7em top 50%, 0 0;
	background-size: .65em auto, 100%;
}
.select-css::-ms-expand {
	display: none;
}
.select-css:hover, .fancy-button input[type=submit]:hover, input[type=submit].fancy-button:hover  {
	border-color: #888;
}
.select-css:focus, .fancy-button input[type=submit]:focus, input[type=submit].fancy-button:focus  {
	border-color: #aaa;
	box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
	box-shadow: 0 0 0 3px -moz-mac-focusring;
	color: #222;
	outline: none;
}
.select-css option {
	font-weight:normal;
}



.flash {
  background-color: rgb(55, 190, 204);
  width: 100%;
  color: white;
  padding: 20px;
  margin-left: -20px;
  text-decoration: none;
  position: absolute;
  z-index: 10;
}

.field_with_errors {
  display: inline;
}

.field_with_errors input {
  border: red 1px solid;
}

input[type=text].text-field, input[type=password].text-field    {
  width: 300px;
  height: 25px;
}

.big-button input[type=submit] {
  width: 150px;
  background-color: grey;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.big-button input[type=submit]:hover, .little-button input[type=submit]:hover, input[type=submit].little-button:hover  {
  background-color: black;
  color: white;
}

.student-button {
  position: absolute;
  width: 120px;
  margin-top: 30px;
  z-index: 5;
}


.student-list-container {
  display: grid;
  grid-template-columns: 500px 500px;
}

.student-list-container div {
  margin: 0 auto;
  height: 400px;
}

/* klass schedule styling */

.klass-schedule {
  background-image: url('lined-paper.png');
  width: 550px;
  height: 568px;
  margin: 0 auto;
}

.klass-schedule h1, .klass-schedule table, .klass-schedule-links {
  transform: rotate(-3.5deg);
  margin-left: 80px;
  padding-top: 40px;
}

.klass-schedule-title {
  height: 100px;
}

.klass-schedule h1 {
  background-color: rgb(217, 106, 94);
  width: 70%;
  text-align: center;
  color: white;
  padding-top: 20px;
}

.klass-schedule table {
  font-size: 27px;
}

.klass-schedule-links {
  font-size: 26px;
}

.klass-schedule table tr td:first-child, .klass-schedule table tr th:first-child {
  min-width: 80px;
  max-width: 80px;
  text-align: left;
  font-size: 20px;
}


.klass-schedule table tr td:nth-child(2), .klass-schedule table tr th:nth-child(2) {
  min-width: 200px;
  max-width: 200px;
  text-align: left;
  font-size: 20px;
}

.klass-schedule table tr td a {
  font-size: 16px;
}

.klass-schedule-edit {
  padding-left: 50px;
}

/* gradebook styling */

.gradebook-wrapper {
  overflow-y: scroll;
  margin: 20px -20px;
  padding-left: 20px;
  padding-right: 100px;
}

.strong-label {
  text-align: left;
}

/* edits the first column of students */
.gradebook-wrapper table.gradebook tr td:first-child, .gradebook-wrapper table.gradebook tr th:first-child {
  min-width: 130px;
  text-align: left;
  padding-left: 10px;
  /* position: absolute; */
  left: 10px;
  padding-top: 9px;
}

.gradebook-wrapper table tr td:last-child, .gradebook-wrapper table tr th:last-child {
  border-right: 20px white solid;
}

.gradebook-title {
  position: relative;
  display: grid;
  grid-template-rows: auto 1fr;
  height: 130px;
  width: 250px;
  color: black;
  font-weight: lighter;
}

.gradebook-title #gradebook-details {
  overflow: scroll;
  word-wrap: break-word;
}


#gradebook-details h2 {
  display: inline;
}

#class-details {
  display: inline;
}

.gradebook-title #book-logo {
  text-align: center;

}

.gradebook-title img {

  max-width: 100%;
  max-height: 100%;
}

.student-name {
  height: 100%;
}

.student-name a {
  padding-bottom: 10px;

}

.student-name div:hover {
  border: rgb(128, 128, 128) 0.5px solid;
  height: auto;
  margin-left: -10px;
  margin-top: -10px;
  padding-top: 22px;
  padding-bottom: 13px;
  padding-left: 9.5px;
  color: black;
}


table.gradebook tr:nth-child(2n+3) td:first-child, table.gradebook tr:nth-child(2n+3) td:nth-child(2) {
  background-color: rgb(218, 217, 224);
}

table.gradebook tr:nth-child(2n+4) td:first-child {
  background-color: white;
}

/* edits the second column of student averages  */
.gradebook-wrapper table.gradebook tr td:nth-child(2), .gradebook-wrapper table.gradebook tr th:nth-child(2) {
  /* position: absolute;
  left: 160px;
  height: 47px; */
}


table.gradebook th{
  color: white;
}

/* height of data cells */
table.gradebook td {
  height: 45px;
}


/* The LT headings */

table.gradebook .red, .rubric-title.red {
  background-color: rgb(217, 106, 94);
}

table.gradebook .red:hover
{
  background-color: rgb(255, 122, 107);
}


table.gradebook .green, .rubric-title.green {
  background-color: rgb(85, 170, 104);
}

table.gradebook .green:hover {
  background-color: rgb(101, 201, 122);
}

table.gradebook .blue, .rubric-title.blue {
  background-color: rgb(71, 125, 179);
}

table.gradebook .blue:hover {
  background-color: rgb(86, 150, 214);
}


table.gradebook th a {
  text-decoration: none;
  color: white;
}

/* new lt and assignment links */
#new-lt a {
  color: black;
  font-weight: lighter;
}

/* alternates white and grey for the rows */
table.gradebook tr:nth-child(2n+3) {
  background-color: rgb(218, 217, 224);
}

/* the width of all table cells */
table.gradebook th, table.gradebook td {
  text-align: center;
  min-width: 100px;
  max-width: 100px;
}

/* edits the row of assignment averages */
table.gradebook tr:nth-child(3) td {
  height: 20px;
}


.start-of-lt {
  border-left: 20px solid white;
}

.lt-target-label-container{
  display: grid;
  grid-template-rows: 60px 20px;
  width: 100%;
  height: 100%;
}

.lt-target-label-container .assignment-label {
  background-color: white;
  padding: 3px;
  color: black;
  margin: -2px;
  font-weight: bold;
}

.lt-target-label {
  margin: 10px 0;
  height: 100%;
  width: 100%;
}

.lt-target-label-container a {
  overflow-x: scroll;
}


table.gradebook tr:nth-child(3) td {
  height: 30px;
}

/* Lets assignment title and date be in the same cell */
table.gradebook .assignment-header {
  display: grid;
  grid-template-rows: 60px 20px;
  background-color: white;
  padding: 5px;
  border: rgb(206, 206, 206) 0.5px solid;
  font-size: 14px;

}

table.gradebook .assignment-header:hover {
  border: rgb(128, 128, 128) 0.5px solid;
  color: black;
}



table.gradebook .assignment-header div {
  flex: 1;
  overflow-y: scroll;
}

table.gradebook .assignments {
  background-color: #D3D3D3;
}

table.gradebook .date {
  color: white;
  width: 100%;
  background-color: grey;
}

table.gradebook .average {
  font-size: 16px;
  font-weight: bold;
}

table.gradebook .hidden {
  visibility: collapse;
}

/*LT-form page*/

.lt-form-container-full {
  display: grid;
  grid-template-rows: auto 300px;
}

.lt-form-container {
  display: flex;
  flex-wrap: wrap;

}

.lt-form-submit-area {
  margin: 20px auto;
  display: flex;
  align-items: center;
}

.lt-form-submit-area div {
  padding: 0 30px;
}

.lt-form-klasses {
  margin: 20px auto;
  background-image: url('notepad.png');
  background-repeat: no-repeat;
  background-size:contain;
  height: 250px;
  width: 200px;
}

.lt-form-klasses p {
  width: 70%;
  margin-top: 15%;
  font-weight: bold;
  margin-left: 10%;
  font-size: 20px;
}

.lt-form-container-full .lt-form-submit {
  margin: 20px auto;
}


.lt-form-container .lt-form-rubric {
  width: 450px;
  margin: 0 auto;
}

.lt-form-container .lt-form-standard {
  margin: 0 auto;
  width: 480px;
  border-radius: 10px;
  padding: 10px;
  padding-bottom: -10px;
}

.lt-form-container .lt-form-standard .standards-table {

  overflow-y: scroll;
  min-height: 100px;
  max-height: 320px;
  width: 100%;
  margin: 0;
  margin-top: 30px;
  margin-right: 20px;
  border: 1px black solid;
  background-color: white;
  border-radius: 10px;
}


/* LT-show page */

.lt-show-container {
  padding: 20px;
}

.lt-show-container .lt-stats {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.lt-show-container .lt-stats div {
  align-self: center;
}

.lt-show-container .lt-stats div:first-child {
  margin-right: 50px;
}


.lt-show-container .lt-show-gradebook {
  overflow-x: scroll;
  display: flex;
  justify-content: center;
  margin: 0 -40px;
  padding: 0 20px;
}

.lt-show-container .lt-stats .averages, .averages {
  display: grid;
  grid-template-columns: 150px 100px;
  grid-template-rows: 70px repeat(4, 50px);
  border: black 1px solid;
  border-radius: 10px;
  padding: 10px;
  margin: 20px;
  width: 200px;
  margin-bottom: 40px;

}

.averages div:first-child {
  width: 150px;
  margin-left: 14px;
}

.lt-show-rub-st-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.lt-show-standard {
  width: 300px;
  align-self: center;
  padding: 20px;
}

/* LT index styling */
.lt-index {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.lt-index-lt {
  width: 100%;
  margin-left: 20px;
}

/* rubric styling */

.lt-show-container .lt-show-rubric, .lt-form-rubric {
  grid-column: span 1;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: auto repeat(4, 90px);
  padding: 0 10px;
  align-self: start;
  border: black 1px solid;
  width: 400px;
  border-radius: 10px;
  margin-top: 20px;
  margin-left: 20px;
  background-color: white;
}

.lt-form-rubric {
  width: 40%;
  grid-template-rows: auto repeat(4, 100px);
}

.rubric-title {
  grid-column: span 2;
  color: white;
  text-align: center;
  margin-top: 10px;
  border-radius: 5px;
  margin: 10px auto;
  padding: 10px;
}

.rubric-title input[type=text] {
  width: 80%;
  margin: 0 20px;
  height: 30px;
  font-size: 10px;
  text-align: center;
}

.rubric-score {
  text-align: center;
  background-color: grey;
  align-content: center;
  margin: 15px;
  border-radius: 10px;
  width: 70px;
}

.rubric-score-desc {
  align-self: center;
  margin: 15px 0;
  padding: 0 10px;
}

.rubric-score-desc textarea {
  width: 100%;
  height: 50px;
}

/* student show styling */
.student-show-container {
  /* display: grid;
  grid-template-columns: 1fr 1fr; */
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  justify-content: space-around;
  align-items: center;
}

.student-show-gradebook-container {
  width: 600px;
  overflow-x: scroll;
}

.student-show-gradebook-container .gradebook {
  margin: 0 auto;
}


.student-show-lt-graph {
  margin: 20px;
}

.student-show .rubric-title {
  background-color: rgb(217, 106, 94);
  height: 15px;
}

.signup-container .fancy-button {
  margin-top: 20px;
}

@media only screen and (max-width: 850px) {
  .header-select {
    display: none;
  }

}

@media only screen and (max-width: 650px) {

  .paper-form.assignment {
    width: 300px;
  }



  .paper-form.lt-paper-form {
    padding-left: 0px;
  }

}
