
<div>
  <h3>Select a Standards Organization</h3>
  <%= form_tag('/standards', method: :post) do %>
    <% org_array = Standard.new.call_the_API %>
    <%= select_tag 'org', options_for_select(org_array.collect{|org| [org["title"], org["id"]]}) %>
    <%= submit_tag("Submit") %>
  <% end %>
</div>
