<div>
  <%= form_for(@standard) do |f| %>

    <div>
      <h3>Select Grade</h3>
      <% math_standards = Standard.new.math_standards %>
      <%= f.collection_select :grade_id, math_standards, :grade_id, :grade %>
    </div>





    <br><br>

    <%= submit_tag("Submit") %>
  <% end %>
</div>
