<div class="header-logo">
  <%= image_tag('open-book.jpg') %>
</div>

<div class="header-login">
  <%= link_to("Log In", login_path) %>
</div>

<div class="header-signup">
  <%= link_to("Sign Up", signup_path) %>
</div>
