<tr>
  <td>
    <div>
      <strong>Students</strong>
      <span onclick="rowSorter('highest', 'name')" class="arrow"> 	&#x2B06 </span>
      <span onclick="rowSorter('lowest', 'name')" class="arrow"> 	&#x2B07 </span>
    </div>
  </td>

  <td>
    <div>
      <strong> Average </strong>
      <span onclick="rowSorter('highest', 'average')" class="arrow"> 	&#x2B06 </span>
      <span onclick="rowSorter('lowest', 'average')" class="arrow"> 	&#x2B07 </span>
    </div>
  </td>

  <% collection.each do |lt| %>
    <%= blank_td?(lt) %>
    <% lt.chronological_assignments.each_with_index do |assignment, index| %>
      <td class="<%= "start-of-lt" if index == 0 %> assignment-averages">
        <div>
          <strong><%= assignment.average(klass) %></strong>
        </div>
      </td>
    <% end %>
  <% end %>
</tr>
