<h1>Edit this class</h1>

<%= render partial: "klasses/form", locals: {klass: @klass, submit_text: "Update Class"} %>

<%= form_for(@klass, method: :delete) do |f| %>
  <%= f.submit("Delete Class") %>
<% end %>
